RewriteEngine On
RewriteCond %{REQUEST_FILENAME} -s [OR]
RewriteCond %{REQUEST_FILENAME} -l [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^.*$ - [NC,L]
RewriteRule ^.*$ index.php [NC,L]

<Files ~ "\.ini$">
    Order allow,deny
    Deny from all
</Files>

SetEnvIf Host localhost APPLICATION_ENV=development